﻿@model EmailTask.Models.SubmitInfo

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <form asp-action="Index" method="post" id="form_send">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Email" class="control-label">E-mail</label>
        <input type="email" name="Email" class="form-control" required />
    </div>
        <div class="form-group">
            <input type="submit" value="Send" />
        </div>
    </form>
</div>


<!--------------------------------------------------------------------------------------------------------------------------->
<!--Modal section-->
<div id="SuccessModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>E-mail sent successfully</p>
    </div>
</div>

<div id="FailModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Operation failed</p>
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------------->
<!--Script section-->
@section Scripts{
    <script type="text/javascript" src="~/Scripts/FormScripts/Send.js" asp-append-version="true"></script>
}